<div class="container">
  <div class="row text-center">
    <div class="header mx-auto">
      <h1>LeWagon Cocktails</h1>
    </div>
  </div>



  <div class="cocktail-section row">
    <% @cocktails.each do |c| %>
    <div class="col-6">
      <div class="card">
        <%= cl_image_tag c.photo, height: 300, width: 400, crop: :fill, class:"card-img-top" %>
        <div class="card-body">
      <%= link_to c.name, cocktail_path(c), class:"card-title" %>
      </div>
      </div>
    </div>
    <% end %>
  </div>


  <div class="row" id="footer-hp">
    <%= link_to "Add a Cocktail", new_cocktail_path, class:"btn btn-primary mx-auto", id:"hp-button" %>
  </div>
</div>
